<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon Restaurant</title>
</head>
<body>
    <header>
        <h1>Welcome to Little Lemon Restaurant</h1>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:8000/restaurant/booking/tables/">Booking</a></li>
                <li><a href="http://127.0.0.1:8000/menu-items/1">Single Menu Item</a></li>
                <li><a href="http://127.0.0.1:8000/menu-items">Menu Items</a></li>
                <li><a href="http://127.0.0.1:8000/users/">API user</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Enjoy the finest Mediterranean cuisine at Little Lemon.</p>
    </main>

    <footer>
        <p>&copy; 2024 Little Lemon Restaurant. All rights reserved.</p>
    </footer>
</body>
</html>